:root {
  --color-primario: #0d6efd;
  --color-texto: #222;
  --color-subtexto: #444;
  --color-fondo: #ffffff;
  --color-suave: #f4f4f4;
  --color-sombra: rgba(0, 0, 0, 0.08);
  --bordes: 10px;

  --luz-global: 1;
  --tono-calido: 0deg;

  --hero-bg: linear-gradient(to right,
      rgba(245, 245, 245, 0),
      rgba(245, 245, 245, 0.5)),
    url("/svg/common-bg.svg");
}

html.dark {
  --color-texto: #e6e6e6;
  --color-subtexto: #bdbdbd;
  --color-fondo: #121212;
  --color-suave: #1d1d1d;
  --color-sombra: rgba(0, 0, 0, 0.6);
}

body {
  font-family: "Chilanka", sans-serif;
  background: var(--color-fondo);
  color: var(--color-texto);
  scroll-behavior: smooth;
}


#visual-layer {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  filter:
    brightness(var(--luz-global)) hue-rotate(var(--tono-calido));

  transition: filter 1.5s ease;
}