:root {
  --color-primario: #0d6efd;
  --color-texto: #222;
  --color-subtexto: #444;
  --color-fondo: #ffffff;
  --color-suave: #f4f4f4;
  --color-sombra: rgba(0, 0, 0, 0.08);
  --bordes: 10px;

  --luz-global: 1;
  --tono-calido: 0deg;

  /* UI */
  --color-card: #ffffff;
  --color-card-hover: #f0f0f0;
  --color-borde: rgba(0, 0, 0, 0.08);

  /* Inputs */
  --color-input-bg: #ffffff;
  --color-input-text: #222;
  --color-input-border: #dcdcdc;

  /* Botones filtro */
  --color-filtro-bg: #f4f4f4;
  --color-filtro-text: #222;
  --color-filtro-active-bg: var(--color-primario);
  --color-filtro-active-text: #ffffff;

  /* Stats */
  --color-stat-bg: #f4f4f4;
  --color-stat-text: #222;


  --hero-bg: linear-gradient(to right,
      rgba(245, 245, 245, 0),
      rgba(245, 245, 245, 0.5)),
    url("/svg/common-bg.svg");
}

html.dark {
  --color-texto: #e6e6e6;
  --color-subtexto: #bdbdbd;
  --color-fondo: #121212;
  --color-suave: #1d1d1d;
  --color-sombra: rgba(0, 0, 0, 0.6);
  --color-acento: #0d6efd;
  --color-card: #1a1a1a;
  --color-card-hover: #222;
  --color-borde: rgba(255, 255, 255, 0.08);

  --color-input-bg: #1d1d1d;
  --color-input-text: #e6e6e6;
  --color-input-border: #333;

  --color-filtro-bg: #1d1d1d;
  --color-filtro-text: #e6e6e6;
  --color-filtro-active-bg: var(--color-primario);
  --color-filtro-active-text: #ffffff;

  --color-stat-bg: #1d1d1d;
  --color-stat-text: #e6e6e6;
}

body {
  font-family: "Chilanka", sans-serif;
  background: var(--color-fondo);
  color: var(--color-texto);
  scroll-behavior: smooth;
}


#visual-layer {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  filter:
    brightness(var(--luz-global)) hue-rotate(var(--tono-calido));

  transition: filter 1.5s ease;
}