/* ===========================
   NAVBAR DARK
=========================== */
html.dark .navbar {
    background: #0f0f0f;
}

html.dark .navbar .nav-link,
html.dark .navbar .logo-texto {
    color: #f1f1f1;
}

html.dark .navbar-toggler-icon {
    filter: invert(1)brightness(1);
}

/* ===========================
   HERO OVERLAY
=========================== */
html.dark .seccion-inicio::before {
    background: rgba(0, 0, 0, 0.7);
}

/* ===========================
   FOOTER DARK
=========================== */
html.dark .footer {
    background: rgba(0, 0, 0, 0.35);
    color: #f5f5f5;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

html.dark #btn-ir-arriba img {
    filter: invert(1) brightness(1);
}

html.dark .logo-img {
    filter: invert(1) brightness(2);
}

html.dark .icono-red img {
    filter: invert(1) brightness(1);
}

/* ICONOS FOOTER */
html.dark .footer-redes img {
    filter: invert(1) brightness(1.2);
}

html.dark .footer-redes a:hover img {
    filter:
        invert(1) brightness(1.2) saturate(2.8) drop-shadow(0 0 6px currentColor) drop-shadow(0 0 14px currentColor);
}

/* Colores por red */
html.dark .footer-redes a[href*="twitter"] {
    color: #1DA1F2;
}

html.dark .footer-redes a[href*="instagram"] {
    color: #E1306C;
}

html.dark .footer-redes a[href*="facebook"] {
    color: #1877F2;
}

html.dark .footer-datetime {
    opacity: 0.9;
}

html.dark #footer-date {
    color: #bdbdbd;
}

.theme-icon {
    transition: transform 0.3s ease;
}

.toggle_dark:active .theme-icon {
    transform: rotate(180deg);
}

html.dark .carousel-control-prev {
    filter: invert(1) brightness(1);
}

html.dark .carousel-control-next {
    filter: invert(1) brightness(1);
}

html.dark .proyectos-filtros {
    filter: invert(1) brightness();
}

html.dark .proyecto-card.destacado {
    box-shadow: 0 10px 30px rgb(255, 255, 255, .30);
}